<div class="top-bar w-screen absolute top-0">
  <nav>
    <div
    id="vertical-section"
      class="w-16 h-40 flex flex-col justify-around"
    >
    <div class="w-12 h-12 rounded-full about">
      <img src="~assets/icons/document.svg"></img>      
    </div>
      <div class="w-12 h-12 rounded-full about">
        <img src="~assets/icons/document.svg"></img>   
      </div>
    </div>
    <div ref="burger" @click="showNav" class="burger">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div
    id="horizontal-section"
      class=" h-16 flex justify-around"
    >
      <div class="w-12 h-12 rounded-full about">
        <img src="~assets/icons/document.svg"></img>   
      </div>
      <div class="w-12 h-12 rounded-full about">
        <img src="~assets/icons/document.svg"></img>   
      </div>
    </div>
  </nav>
</div>
