<div class="top-bar w-screen absolute top-0">
  <nav>
    <div
      class="bg-red-500 w-16 h-40 flex flex-col justify-around"
    >
    <div class="w-12 h-12 rounded-full about bg-primary-500">
      <img src="~assets/icons/document.svg"></img>      
    </div>
      <div class="w-12 h-12 rounded-full about bg-primary-500">
        <img src="~assets/icons/document.svg"></img>   
      </div>
    </div>
    <div ref="burger" @click="showNav" class="burger">
      <i></i>
      <i></i>
      <i></i>
    </div>
    <div
      class="horizontal-section bg-primary-700 w-40 h-16 flex justify-around"
    >
      <div class="w-12 h-12 rounded-full about bg-red-700">
        <img src="~assets/icons/document.svg"></img>   
      </div>
      <div class="w-12 h-12 rounded-full about bg-red-700">
        <img src="~assets/icons/document.svg"></img>   
      </div>
    </div>
  </nav>
</div>
