.burger {
  right: 10px;
  top: 30px;
  bottom: auto;
  position: fixed;
  background-color: #232323;
  border-radius: 50%;
  padding: 10px;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  width: 59px;
  height: 59px;
  box-sizing: border-box;
  i {
    display: block;
    width: 24px;
    height: 2px;
    margin: 8px;
    background-color: #7a7a7a;
    box-sizing: border-box;
    transition: transform 0.8s, top 1s, bottopn 1s, position 1s;
  }
  &.collapse {
    i {
      transform: rotate(360deg);
      display: none;
      &:first-child {
        display: block;
        position: absolute;
        bottom: 20px;
        top: auto;
        transform: rotate(45deg);
      }
      &:last-child {
        display: block;
        position: absolute;
        top: 20px;
        bottom: auto;
        transform: rotate(-45deg);
      }
    }
  }
}
#vertical-section {
  right: 130px;
  top: 0px;
  bottom: auto;
  position: absolute;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  height: 0rem;
  transition: position 0.3s, height 1s;
  &.show {
    position: fixed;
    height: 10rem;
    .about {
      display: inline-block;
    }
  }
  .about {
    display: none;
  }
}

#horizontal-section {
  right: 0px;
  top: 130px;
  bottom: auto;
  position: absolute;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.15);
  box-sizing: border-box;
  width: 0rem;
  transition: position 0.3s, width 1s;
  &.show {
    width: 10rem;
    position: fixed;
    .about {
      display: inline-block;
    }
  }
  .about {
    display: none;
  }
}
